.buscador {
  width: 300%;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.img-producto {
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
  padding: 10px;
  margin: 0 auto;
  display: block;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 140px;
  object-fit: contain;
  padding: 8px;
  margin: 0 auto;
  display: block;
}

.filtros {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detalle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  align-items: center;
}

@media (max-width: 768px) {
  .detalle-container {
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    gap: 30px;
  }

  .imagen-principal {
    max-width: 240px;
  }

  .info-producto h1 {
    font-size: 22px;
    text-align: center;
  }

  .precio,
  .descripcion {
    text-align: center;
    font-size: 16px;
  }

  .fila-cantidad {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .agregar-carrito {
    width: 100%;
    max-width: 280px;
  }
}
