/* Fondo HERO con celeste */
.hero-section {
  background-color: 	#61c286; 
  color: white;
}

/* Botones principales */
.btn-primary {
  background-color: #00AEEF;
  border-color: #00AEEF;
}

.btn-primary:hover {
  background-color: #0098d3;
  border-color: #0098d3;
}

/* Enlaces activos o destacados */
.nav-link.active,
.nav-link:hover {
  color: #00AEEF !important;
}

/* Tarjetas de productos con sombra leve */
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border: none;
}

/* Títulos o íconos destacados en verde */
.text-acento-verde {
  color: #36C48E;
}
