#listado-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 100%; 
  margin: 0 auto;
  box-sizing: border-box;
}

.card {
  width: 280px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-md-4 {
  flex: 0 0 280px;
  margin-right: 0px;
}

@media (max-width: 767px) {
  #listado-productos {
    justify-content: center;
    max-width: 480px; 
  }

  .card {
    width: 45%;
    max-width: 220px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .layout-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #listado-productos {
    justify-content: center;
    max-width: 100%;
  }

  .card {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
}
